/* ---------- preps ---------- */

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 800;

    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff") format("woff");

    font-display: swap;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
}

body {
    font-family: OpenSans, Arial;
}

ul,
ol {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;

    font-style: normal;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
}

time {
    font-style: normal;
}

input[type=radio] + label{
    cursor: pointer;
}

input[type=text],
input[type=search],
input[type=email],
textarea {
    background-color: #f4f7f6;
    font-family: inherit;
}

input[type=radio] {
    cursor: pointer;
    --radio-bg: url("./sources/svg/form-empty-circle.svg");
    --radio-size: 19px;
    appearance: none;
    margin: 0;
    /* background-image: url(./sources/svg/form-empty-circle.svg); */
}

input[type=radio]:checked {
    --radio-bg: url("./sources/svg/form-circle.svg");
    /* background-image: url(./sources/svg/form-circle.svg); */
}

input[type=radio]:before {
    content: "";
    display: block;
    width: var(--radio-size);
    height: var(--radio-size);
    background-image: var(--radio-bg);
    background-size: contain;
}

input,
button {
    vertical-align: top;
}

button {
    font-family: inherit;
}

input,
input:focus-visible,
input:focus,
fieldset,
textarea {
    border: none;
    outline: none;
}

fieldset {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    padding: 0;

    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.unloaded-pic {
    box-sizing: border-box;
    border: 2px solid black;
}

/* ---------- pop-up ---------- */

.pop-up-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 50px 16px 0;

    z-index: 10;
}

.pop-up-wrapper:after {
    content: "";
    position: fixed;

    z-index: 3;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;

    background-color: black;
    opacity: 0.6;
}

.pop-up {
    position: relative;
    z-index: 4;

    max-width: 388px;
    width: 100%;
    /* sort of required but eh.. */
    /* min-height: 589px; */
    height: fit-content;
    background-color: white;
    

    display: flex;
    flex-direction: column;
    gap:15px;

    padding: 30px;

    animation: pop-up-appears 0.5s;
}

@keyframes pop-up-appears {
    from {
        opacity: 0.5;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.pop-up__x-btn {
    position: absolute;
    background-image: url("./sources/svg/form-x.svg");
    width: 20px;
    height: 20px;
    z-index: 10;
    right: 0;
    top: 0;
    transform: translateY(-150%);
    background-color: transparent;
}

.pop-up__title {
    position: relative;

    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
}

.pop-up__title:after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);

    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.pop-up__label {
    font-size: 13px;
    letter-spacing: 0.017em;
}

.pop-up__label + * {
    margin-top: 7px;
}

.pop-up__combobox {
    position: relative;
}

.pop-up__combobox * {
    z-index: 2;
}

.combobox-field {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 13px;
}

.combobox__arrows-img {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f4f7f6;
    /* padding: 20px; */
    padding: 5% 3% 5% 5%;
    /* height: 57px; */
    height: 100%;
    opacity: 0;
}

.pop-up__label[for=combobox-field1]:hover + .pop-up__combobox .combobox__arrows-img, /* cringe, i know.. */
.pop-up__combobox:hover .combobox__arrows-img,
.combobox-field:focus ~ .combobox__arrows-img {
    opacity: 1;
}

.pop-up__radio-inputs {
    display: flex; 
    gap: 15px;
    margin-top: 6px;
}

.pop-up__rbtn-label {
    position: relative;
    top: -4px;
    font-size: 13px;
}

.pop-up__textarea {
    resize: none;
    min-height: 137px;
    width: 100%;
    field-sizing: content;

    padding: 20px;
    font-size: 13px;
}

.pop-up__confirm-btn {
    width: 100%;

    padding: 14px 0px;

    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;

    background: #b59f5b;
    color: white;
}

/* ---------- hero ---------- */

.container {
    max-width: 1200px;
    /* width: 100%; */
    width: 100vw;
    margin: 0 auto;
    padding: 0 15px;
}

.container-justified {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.hero {
    padding-top: 27px;
    margin-bottom: 62px;
    min-height: 450px;

    background-color: rgb(68, 135, 112);
    background-image: url("./sources/img/banner-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    position: relative;
    display: flex;
    flex-direction: column;
}

.masked:before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.6;
}

.hero * {
    z-index: 1;
}

.hero__menu {
    display: flex;
    justify-content: space-between;
}

.menu__links-list {
    display: flex;
    padding-top: 13px;
    gap: 37px;
}

.noemi-logo {
    width: 180px;
    height: auto;
}

.menu__link {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: white;

    position: relative;
}

.menu__link:hover:after {
    content: "";

    width: 100%;
    height: 1px;

    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0px);
}

.hero__burger {
    display: none;

    background-image: url("./sources/svg/menu-burger.svg");
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;

    /* background: no-repeat url("./sources/svg/menu-burger.svg"); */
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: max-content;
    flex-grow: 1;
    padding-top: 103px;
    padding-bottom: 100px;
}

.title-wrapper .noemi-logo {
    display: none;
}

.hero__title {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
}

/* ---------- trends ---------- */

.trends {
    --cell-fraction: calc((100vw - 3 * 5px) / 16);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, calc(var(--cell-fraction) * 4));
    grid-auto-columns: calc(var(--cell-fraction) * 4);
    grid-auto-rows: calc(var(--cell-fraction) * 3) ;
    column-gap: 5px;
    grid-auto-flow:dense;

    margin-bottom: 64px;
}

.trends__title {
    position: relative;

    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;

    grid-column: 1 / -1;
}

.trends__title:after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);

    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.section__title {
    position: relative;

    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
}

.section__title:after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);

    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.trend-post {
    /* font-size: 5px; */
    font-size: 0.3125vw;

    position: relative;
    padding: 25px 20px;
    /* padding: 5em; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column-reverse;

    color: white;
}

.trend-post__info {
    position: relative;
    z-index: 2;

    padding: 7em 5em;
    border: 3px solid #b59f5b;
    border: 0.6em solid #b59f5b;
}

.trend-post__tags-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 15px;
}

.trend-post__tag {
    font-size: 2.8em;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.27px;
    text-transform: uppercase;
    color: #b59f5b;

    position: relative;
}

.trend-post__title {
    font-size: 4em;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    margin-top: 0.3em;
}

/* ---------- post-list ---------- */

.page-content-wrapper {
    padding: 65px 245px 0px;
    display: flex;
    justify-content: space-between;
}

.post-list {
    max-width: 780px;
    width: 100%;
}

.post {
    display: flex;
}

.post:nth-child(n + 2) {
    margin-top: 54px;
}

.post__pic {
    width: 381px;
    height: auto;
    object-fit: cover;

    img{
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        object-position: 50%;
    }
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.post__info {
    padding-left: 30px;

    flex-grow: 1;
}

.post__tags-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 15px;
}

.post__tag {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.27px;
    text-transform: uppercase;
    color: #b59f5b;

    position: relative;
}

.post__tag._trend {
    font-size: 2.8em;
}


.post__tag:hover:after {
    content: "";

    width: 100%;
    height: 2px;

    background-color: #b59f5b;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 2px);
}

.post__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    color: inherit;

    margin-top: 7px;
}

.trend-post__title {
    font-size: 4em;
    margin-top: 0.35em;
}

.post__title:hover {
    color: #b59f5b;
}

.post__meta {
    margin-top: 25px;
}

.post__pubdate {
    font-size: 12px;
    color: #bbb;

    margin-right: 10px;
}

.post__author {
    font-weight: 800;
    font-size: 12px;
    color: black;
}

.post__text {
    margin-top: 44px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post__text-paragraph {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.53px;
    line-height: 1.6;
}

/* ---------- widgets ---------- */

.widgets {
    width: 271px;
}

.widgets>* {
    margin-bottom: 60px;
}

.widget__title {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    position: relative;

    margin-bottom: 42px;
}

.widget__title:after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 25px);

    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.new-post {
    height: 70px;
}

.new-post:nth-of-type(n + 2) {
    margin-top: 22px;
}

.new-post__thumbnail {
    width: 70px;
    height: 70px;

    float: left;

    margin-right: 18px;
}

.new-post__pubdate {
    letter-spacing: -0.5px;
    line-height: 0.75;
    color: #bbb;
    font-size: 12.7px;
    vertical-align: top;
}

.new-post__title {
    font-weight: 800;
    font-size: 14.4px;
    line-height: 1.24;
    letter-spacing: -0.2px;
    text-transform: uppercase;

    margin-top: -6px;
}

.new-post__title:hover {
    color: #b59f5b;
}

.visualy-hidden {
    position: fixed;
    top: -1px;
    left: -1px;
    transform: scale(0);
}

.search-form {
    margin-top: 60px;
    display: flex;
}

.search-form__textbox {
    padding: 15px 17px;

    font-size: 13px;
    letter-spacing: 0.4px;

    background: #f4f7f6;
    color: black;

    flex-grow: 1;
}

.search-form__lense-btn {
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    background-image: url("./sources/svg/search.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.mailing .widget__title {
    margin-bottom: 39px;
}

.mailing__textbox {
    box-sizing: border-box;

    padding: 15px 17px;
    margin-bottom: 18px;

    font-size: 13px;
    letter-spacing: 0.3px;

    background: #f4f7f6;
    color: black;

    width: 100%;
}

.mailing__confirm-btn {
    width: 100%;

    padding: 14px 0px;

    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;

    background: #b59f5b;
    color: white;
}

.tags-widget {
    margin-bottom: 57px;
}

.tags-widget .widget__title {
    margin-bottom: 37px;
}

.tags-list-item {
    display: inline;
}

.tags-widget__tag {
    font-weight: 800;
    font-size: 12px;
    line-height: 3;
    text-transform: uppercase;

    padding: 5px 13px;

    border: 3px solid #f4f7f6;

    margin-right: 4px;
}

.tags-widget__tag:hover {
    border-color: #b59f5b;
}

.themes-widget {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.themes-widget .widget__title {
    margin-bottom: 25px;
}

.theme-list-item {
    border-bottom: 2px solid #f4f7f6;
    height: 47px;
}

.theme {
    /* font-family: "OpenSans-Bold", "Helvetica", sans-serif; */
    font-weight: 800;
    font-size: 14px;
    line-height: 3.34;

    position: relative;
}

.theme:hover {
    color: #b59f5b;
}

.theme:after {
    content: attr(data-post-count);

    font-size: 12px;
    color: #b59f5b;

    position: absolute;
    transform: translateX(5px);
}

/* ---------- our-products ---------- */

.our-products {
    margin-top: 60px;
}

.our-products__title {
    position: relative;

    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
}

.our-products__title:after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);

    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.products-list {
    padding: 0 24px 24px;

    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.product__info {
    margin-top: -10px;
    padding: 35px 0 5px;

    outline: 5px solid #b59f5b90;
    outline-offset: 20px;
    flex-grow: 1;

    /* for prices and button vertical alignment */
    /* display: flex; */
    /* flex-direction: column; */
}

.product__image {
    width: 100%;
    height: auto;
}

.product__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}

.product__description {
    margin-top: 15px;
    margin-bottom: 26px;
}

.product__link {
    color: #b59f5b !important;
}

.product__link:hover {
    color: #b59f5b;
    text-decoration: underline;
}

.product__purchase-info {
    /* for prices and button vertical alignment */
    /* margin-top: auto; */
    margin-top: 26px;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.product__price {
    /* font-family: "OpenSans-Bold", "Helvetica", sans-serif; */
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    grid-row: 2 / span 1;
    grid-column: span 1;
}

.product__price_crossed {
    font-size: 14px;
    grid-row: 1;
    text-decoration: line-through;
}

.product__to-store-btn {
    width: 100%;

    padding: 14px 0px;

    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;

    background: #b59f5b;
    color: white;

    grid-row: span 2;
    grid-column: span 1;
}

/* ---------- footer ---------- */

.footer {
    margin-top: 60px;
}

.footer__social-network {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 79px;

    background-color: #f4f7f6;
}

.social-media-list {
    display: flex;
    gap: 24px;
}

.social-media-icon {
    width: 22px;
    height: 22px;

    background-size: cover;
}

.social-media-icon.dribble {
    background-image: url("./sources/svg/001-dribbble.svg");
}

.social-media-icon.pinterest {
    background-image: url("./sources/svg/002-pinterest.svg");
}

.social-media-icon.tumblr {
    background-image: url("./sources/svg/003-tumblr.svg");
}

.footer__copyrights-wrapper {
    padding: 70px 0px 38px 12px;
    display: flex;
    justify-content: center;
}

.footer__copyrights {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;

    color: #999999;
}

@media (max-width: 1280px) {

    .container {
        padding: 0 36px;
    }

    .menu {
        display: none;
    }

    .hero__burger {
        display: block;
        width: 45px;
        height: 45px;
    }

    .trends {
    
        --cell-fraction: calc((100vw - 5px) / 8);
        grid-template-columns: calc(var(--cell-fraction) * 4) calc(var(--cell-fraction) * 4);
        row-gap: 5px;
        column-gap: 5px;
    }

    .trend-post {
        font-size: 0.625vw;
    }

    .post {
        display: block;
    }

    .post__pic {
        width: 100%;
    }

    .post__info {
        padding-left: 0;
        margin-top: 18px;
    }

    .post__title {
        font-size: 17px;
    }
}

@media (max-width: 768px) {

    .hero__title {
        font-size: 26px;
        margin-top: 45px;
    }

    .hero__menu .noemi-logo {
        display: none;
    }

    .noemi-link {
        width: 71%;
    }

    .noemi-logo {
        width: 100%;
        height: auto;
    }

    .title-wrapper .noemi-logo {
        display: block;
    }

    .container {
        padding: 0 16px;
    }

    .trends {
        grid-template-columns: 100vw;
        grid-auto-rows: 75vw;
        
        row-gap: 5px;
        column-gap: 5px;
    }

    .container.container-justified {
        display: block;
        width: fit-content;
    }

    .post {
        margin-top: 38px;

        padding-bottom: 25px;

        border-bottom: 5px solid #eeeeee;
    }

    .widgets {
        width: 100%;
        margin-top: 44px;
    }

    .trend-post {
        font-size: 1.25vw;
    }

    .post__title {
        font-size: 16px;
    }
}